:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  
  align-items: center;
} 
/* 
.locationBoxInputBox {
  margin-left: 5px;
}

#red {
  background-color: red;
  max-width: 1280px;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

